.h5_component_bar .line{
height: 15px;
font-size: 12px;
line-height: 15px;
margin-bottom: 15px;
}
.h5_component_bar .name{
width: 50px;
color: #000;
float: left;
}
/*.h5_component_bar .rate{
height: 15px;
background-color: red;
}*/
.h5_component_bar .rate{
height: 15px;
margin-left: 10px;
float: left;
position: relative;
}
.h5_component_bar .rate .bg{
  background-color: green;
  position: absolute;
  top: 0;
  left:0;
  width: 0%;
  height: 100%;
  border-radius: 3px
}
.h5_component_bar .per{
  float: left;
  width: 20px;
  color: grey;
  margin-left: 5px;
  opacity: 0;

}
.h5_component_bar_load .rate .bg {
  transition: all 1s 0.5s;
  width:100%

}
.h5_component_bar_leave .rate .bg{
  transition: all 1s;
  width:0%
}
.h5_component_bar_load  .per{
  -webkit-transition: all 1s 1s;
  opacity: 1;

}
.h5_component_bar_leave  .per{
-webkit-transition: all 1s;
  opacity: 0;
}
